html, body, #editor {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #121214;
}

.utiliti-breakpoint {
  background: #f05252;
  border: 2px solid #121214;
  border-radius: 50%;
  box-sizing: border-box;
  margin-left: 3px;
  width: 13px !important;
  height: 13px !important;
  margin-top: 4px;
}

.utiliti-execution-line {
  background: rgba(53, 208, 115, 0.16);
}

.utiliti-execution-glyph::before {
  color: #35d073;
  content: "\25B6";
  font-size: 13px;
  margin-left: 2px;
}
