**/.gradle/
**/build/
**/bin/

**/config.properties
**/.DS_Store
**/crash.txt
**/game.log*
**/hs_err_pid*.log
/utiliti/out

# Eclipse
**/.classpath
**/.project
**/.settings/

# Idea
/.idea
/out
*.iml
