[versions]
jaxb = "4.0.2"
mockito = "5.2.0"
junit = "5.9.2"

# Plugins
vlsiRelease = "1.86"

[libraries]
darklaf_core = { module = "com.github.weisj:darklaf-core", version = "3.0.2" }
jinput = { module = "net.java.jinput:jinput", version = "2.0.9" }
soundlibs_jorbis = { module = "com.googlecode.soundlibs:jorbis", version = "0.0.17.4" }
soundlibs_tritonus = { module = "com.googlecode.soundlibs:tritonus-share", version = "0.3.7.4" }
soundlibs_vorbisspi = { module = "com.googlecode.soundlibs:vorbisspi", version = "1.0.3.3" }
soundlibs_mp3spi = { module = "com.googlecode.soundlibs:mp3spi", version = "1.9.5.4" }
javax_activation = { module = "jakarta.activation:jakarta.activation-api", version = "2.1.1" }
xml_api = { module = "jakarta.xml.bind:jakarta.xml.bind-api", version = "4.0.0" }
xml_runtime_core = { module = "com.sun.xml.bind:jaxb-core", version.ref = "jaxb" }
xml_runtime_impl = { module = "com.sun.xml.bind:jaxb-impl", version.ref = "jaxb" }

# Test dependencies
mockito_core = { module = "org.mockito:mockito-core", version.ref = "mockito" }
mockito_inline = { module = "org.mockito:mockito-inline", version.ref = "mockito" }
junit_api = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junit" }
junit_params = { module = "org.junit.jupiter:junit-jupiter-params", version.ref = "junit" }
junit_engine = { module = "org.junit.jupiter:junit-jupiter-engine", version.ref = "junit" }


[bundles]
soundlibs = ["soundlibs-jorbis", "soundlibs-tritonus", "soundlibs-vorbisspi", "soundlibs-mp3spi"]
xml_runtime = ["xml-runtime-core", "xml-runtime-impl"]

# Test dependencies
mockito = ["mockito-core", "mockito-inline"]
junit = ["junit-api", "junit-params", "junit-engine"]

[plugins]
beryxRuntime = "org.beryx.runtime:1.13.0"
sonarQube = "org.sonarqube:4.0.0.2929"
spotless = "com.diffplug.spotless:6.17.0"
versions = "com.github.ben-manes.versions:0.46.0"
dependencyCheck = "org.owasp.dependencycheck:8.1.2"
grgit = "org.ajoberstar.grgit:5.0.0"
semanticVersioning = "org.danilopianini.git-sensitive-semantic-versioning:1.1.2"
