name: Build

on:
  push:
    paths:
      - "**.gradle"
      - "**.properties"
      - "**.java"
      - "**.toml"
      - "**.xml"
      - ".github/workflows/*.yml"
    branches:
      - "**"
  pull_request:
    branches:
      - master
jobs:
  fullbuild:
    runs-on: ubuntu-latest

    name: Build and Verify
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: JDK Setup
        uses: actions/setup-java@v4.2.2
        with:
          distribution: temurin
          java-version: 21

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Gradle Wrapper Validation
        uses: gradle/actions/wrapper-validation@v4

      - name: D-BUS AT-SPI Installation
        run: sudo apt-get -y install at-spi2-core

      - name: Build
        run: ./gradlew build -x test -PskipSpotless

      - name: Test
        uses: coactions/setup-xvfb@v1.0.1
        with:
          run: ./gradlew jacocoTestReport -PskipSpotless

      - name: Publish Test Results
        uses: dorny/test-reporter@v1
        with:
          name: JUnit test results
          reporter: java-junit
          path: '**/test-results/**/*.xml'

      - name: Static Analysis
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        if: ${{!github.event.pull_request.head.repo.fork}}
        run: ./gradlew sonar -PskipSpotless

      - name: Code Style Validation
        run: ./gradlew spotlessCheck
